* {
  margin: 0;
}
.tbody {
  display: table-row-group;
}
.table1 {
  height: 150px;
  width: 1200px;
  background-color: grey;
  border: 5px solid rgb(108, 61, 61);
  border-bottom: none;
  display: table;
}
.table2 {
  height: 150px;
  width: 1200px;
  background-color: grey;
  border: 5px solid rgb(108, 61, 61);
  display: table;
}
.caption {
  display: table-caption;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.thead {
  display: table-header-group;

  text-align: center;
}
.tbody {
  height: 74%;
  width: 100%;

  margin-top: 20px;
}
.tr {
  display: table-row;
}
.td {
  display: table-cell;
}
.td img {
  height: 200px;
  width: 300px;
}

.navtab {
  color: black;
  background-color: white;
  height: 30px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}
.navtab span {
  margin: 30px;
  font-weight: bold;
}

.page1 img {
  width: 300px;
  height: 200px;
  margin-top: 5px;
  margin: 10px;
}
.page1 p {
  font-size: 20px;
  text-align: center;
  color: yellow;
}
.flex {
  display: flex;
}

.sign {
  text-align: center;
  color: yellow;
}
.text {
  background-color: white;
  height: 100%;
  font-size: 18px;
  vertical-align: top;
  color: black;
  margin: 5px;
}
